#### Loading libraries & dataset

In [1]:
import pandas as pd

df_imdb = pd.read_csv('../../datasets/IMDB_Movie.csv')
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [2]:
df_imdb_export = df_imdb[['director_name', 'movie_title', 'title_year']]
df_imdb_export.head(3)

    director_name                                movie_title  title_year
0   James Cameron                                  Avatar \t      2009.0
1  Gore Verbinski  Pirates of the Caribbean: At World's End       2007.0
2      Sam Mendes                                   Spectre       2015.0

In [3]:
import os 
if not os.path.exists('output_datasets'):
    os.mkdir('output_datasets')

#### export to csv with index, this is default

In [4]:
df_imdb_export.to_csv('output_datasets/IMDB_Movie_3columns_with_index.csv')

#### export to csv without index

In [5]:
df_imdb_export.to_csv('output_datasets/IMDB_Movie_3columns_without_index.csv', index=False)

#### export to json

In [6]:
df_imdb_export.to_json('output_datasets/IMDB_Movie_3columns.json')

#### export to excel

In [7]:
!pip install -U xlwt

Requirement already up-to-date: xlwt in c:\users\amma\appdata\local\programs\python\python38\lib\site-packages (1.3.0)

In [8]:
df_imdb_export.to_excel('output_datasets/IMDB_Movie_3columns.xls', index=False)

#### export to html

In [9]:
df_imdb_export.to_html('output_datasets/IMDB_Movie_3columns.html', index=False)