In [5]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [6]:
Base = declarative_base()


class Person(Base):
    __tablename__ = "people"

    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)
    age = Column(Integer, nullable=False)
    gender = Column(String(10), nullable=False)
    address = Column(String(100), nullable=False)

C:\Users\Amma\AppData\Local\Temp\ipykernel_29952\2961592862.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [7]:
engine = create_engine("sqlite:///s2_single_table.db", echo=True)

Base.metadata.create_all(bind=engine)

Session = sessionmaker(bind=engine)
session = Session()

2023-04-02 09:30:46,675 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-02 09:30:46,676 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("people")
2023-04-02 09:30:46,678 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-02 09:30:46,680 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("people")
2023-04-02 09:30:46,682 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-02 09:30:46,686 INFO sqlalchemy.engine.Engine
CREATE TABLE people (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	age INTEGER NOT NULL,
	gender VARCHAR(10) NOT NULL,
	address VARCHAR(100) NOT NULL,
	PRIMARY KEY (id)
)


2023-04-02 09:30:46,688 INFO sqlalchemy.engine.Engine [no key 0.00164s] ()
2023-04-02 09:30:46,768 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
# 1. Get all the people in the database
people = session.query(Person).all()

2023-04-02 09:30:46,886 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-02 09:30:46,889 INFO sqlalchemy.engine.Engine SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
2023-04-02 09:30:46,890 INFO sqlalchemy.engine.Engine [generated in 0.00138s] ()

In [9]:
# 2. Get the person with the id of 1
person = session.query(Person).filter_by(id=1).first()

2023-04-02 09:31:07,631 INFO sqlalchemy.engine.Engine SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
WHERE people.id = ?
 LIMIT ? OFFSET ?
2023-04-02 09:31:07,633 INFO sqlalchemy.engine.Engine [generated in 0.00323s] (1, 1, 0)

In [10]:
# 3. Get the name and age of all people in the database
people = session.query(Person.name, Person.age).all()

2023-04-02 09:31:17,167 INFO sqlalchemy.engine.Engine SELECT people.name AS people_name, people.age AS people_age
FROM people
2023-04-02 09:31:17,169 INFO sqlalchemy.engine.Engine [generated in 0.00230s] ()

In [11]:
# 4. Get all the people in the database who are over 30 years old
people = session.query(Person).filter(Person.age > 30).all()

2023-04-02 09:31:25,740 INFO sqlalchemy.engine.Engine SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
WHERE people.age > ?
2023-04-02 09:31:25,742 INFO sqlalchemy.engine.Engine [generated in 0.00213s] (30,)

In [12]:
# 5. Get all the people in the database who are female
people = session.query(Person).filter_by(gender="female").all()

2023-04-02 09:31:35,580 INFO sqlalchemy.engine.Engine SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
WHERE people.gender = ?
2023-04-02 09:31:35,582 INFO sqlalchemy.engine.Engine [generated in 0.00155s] ('female',)

In [13]:
# 6. Get all the people in the database whose name starts with 'J'
people = session.query(Person).filter(Person.name.like("J%")).all()

2023-04-02 09:31:43,277 INFO sqlalchemy.engine.Engine SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
WHERE people.name LIKE ?
2023-04-02 09:31:43,279 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ('J%',)

In [14]:
# 7. Get the number of people in the database
num_people = session.query(Person).count()

2023-04-02 09:31:50,507 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people) AS anon_1
2023-04-02 09:31:50,509 INFO sqlalchemy.engine.Engine [generated in 0.00262s] ()

In [15]:
# 8. Get the age of the youngest person in the database
min_age = session.query(Person.age).order_by(Person.age.asc()).first()

2023-04-02 09:31:57,487 INFO sqlalchemy.engine.Engine SELECT people.age AS people_age
FROM people ORDER BY people.age ASC
 LIMIT ? OFFSET ?
2023-04-02 09:31:57,490 INFO sqlalchemy.engine.Engine [generated in 0.00183s] (1, 0)

In [16]:
# 9. Get the age of the oldest person in the database
max_age = session.query(Person.age).order_by(Person.age.desc()).first()

2023-04-02 09:32:06,027 INFO sqlalchemy.engine.Engine SELECT people.age AS people_age
FROM people ORDER BY people.age DESC
 LIMIT ? OFFSET ?
2023-04-02 09:32:06,028 INFO sqlalchemy.engine.Engine [generated in 0.00155s] (1, 0)

In [17]:
# 10. Get the names of all the people in the database, sorted alphabetically
people = session.query(Person.name).order_by(Person.name.asc()).all()

2023-04-02 09:32:12,155 INFO sqlalchemy.engine.Engine SELECT people.name AS people_name
FROM people ORDER BY people.name ASC
2023-04-02 09:32:12,158 INFO sqlalchemy.engine.Engine [generated in 0.00204s] ()

In [18]:
# 11. Get the number of people in the database whose name contains the letter 'e'
num_people = session.query(Person).filter(Person.name.like("%e%")).count()

2023-04-02 09:32:23,755 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
WHERE people.name LIKE ?) AS anon_1
2023-04-02 09:32:23,757 INFO sqlalchemy.engine.Engine [generated in 0.00240s] ('%e%',)

In [19]:
# 12. Get the names of all the people in the database, grouped by gender
people_by_gender = (
    session.query(Person.gender, Person.name).group_by(Person.gender).all()
)

2023-04-02 09:32:30,037 INFO sqlalchemy.engine.Engine SELECT people.gender AS people_gender, people.name AS people_name
FROM people GROUP BY people.gender
2023-04-02 09:32:30,039 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()

In [20]:
# 13. Update the age of the person with the id of 1 to 40
person = session.query(Person).filter_by(id=1).first()
person.age = 40
session.commit()

2023-04-02 09:32:41,706 INFO sqlalchemy.engine.Engine SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
WHERE people.id = ?
 LIMIT ? OFFSET ?
2023-04-02 09:32:41,710 INFO sqlalchemy.engine.Engine [cached since 94.08s ago] (1, 1, 0)

AttributeError: 'NoneType' object has no attribute 'age'

In [21]:
# 14. Delete the person with the id of 2
person = session.query(Person).filter_by(id=2).first()
session.delete(person)
session.commit()

2023-04-02 09:33:02,369 INFO sqlalchemy.engine.Engine SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
WHERE people.id = ?
 LIMIT ? OFFSET ?
2023-04-02 09:33:02,372 INFO sqlalchemy.engine.Engine [cached since 114.7s ago] (2, 1, 0)

UnmappedInstanceError: Class 'builtins.NoneType' is not mapped

In [22]:
# 15. Add a new person to the database
new_person = Person(name="Alice", age=25, gender="female", address="123 Main St")
session.add(new_person)
session.commit()

2023-04-02 09:33:05,959 INFO sqlalchemy.engine.Engine INSERT INTO people (name, age, gender, address) VALUES (?, ?, ?, ?)
2023-04-02 09:33:05,964 INFO sqlalchemy.engine.Engine [generated in 0.00488s] ('Alice', 25, 'female', '123 Main St')
2023-04-02 09:33:05,973 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
# 16. Get the names and addresses of all people in the database, sorted by address
people = session.query(Person.name, Person.address).order_by(Person.address.asc()).all()

2023-04-02 09:33:17,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-02 09:33:17,661 INFO sqlalchemy.engine.Engine SELECT people.name AS people_name, people.address AS people_address
FROM people ORDER BY people.address ASC
2023-04-02 09:33:17,663 INFO sqlalchemy.engine.Engine [generated in 0.00166s] ()

In [24]:
# 17. Get the number of people in the database whose age is between 20 and 30
num_people = session.query(Person).filter(Person.age.between(20, 30)).count()

2023-04-02 09:33:24,124 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT people.id AS people_id, people.name AS people_name, people.age AS people_age, people.gender AS people_gender, people.address AS people_address
FROM people
WHERE people.age BETWEEN ? AND ?) AS anon_1
2023-04-02 09:33:24,125 INFO sqlalchemy.engine.Engine [generated in 0.00188s] (20, 30)

In [25]:
# 18. Get the average age of all people in the database
avg_age = session.query(func.avg(Person.age)).scalar()

NameError: name 'func' is not defined

In [26]:
# 19. Get the names of all people in the database whose age is a multiple of 5
people = session.query(Person.name).filter(Person.age % 5 == 0).all()

2023-04-02 09:33:49,009 INFO sqlalchemy.engine.Engine SELECT people.name AS people_name
FROM people
WHERE people.age % ? = ?
2023-04-02 09:33:49,014 INFO sqlalchemy.engine.Engine [generated in 0.00583s] (5, 0)

In [27]:
# 20. Get the names of all people in the database whose name contains the letters 'a' and 'e'
people = (
    session.query(Person.name)
    .filter(Person.name.like("%a%"))
    .filter(Person.name.like("%e%"))
    .all()
)

2023-04-02 09:33:52,387 INFO sqlalchemy.engine.Engine SELECT people.name AS people_name
FROM people
WHERE people.name LIKE ? AND people.name LIKE ?
2023-04-02 09:33:52,394 INFO sqlalchemy.engine.Engine [generated in 0.00792s] ('%a%', '%e%')

In [28]:
# 21. Get the names of all people in the database whose address starts with '123'
people = session.query(Person.name).filter(Person.address.like("123%")).all()

# 22. Get the name and age of the oldest person in the database whose gender is male
person = (
    session.query(Person.name, Person.age)
    .filter_by(gender="male")
    .order_by(Person.age.desc())
    .first()
)

# 23. Get the number of people in the database whose name is longer than 10 characters
num_people = session.query(Person).filter(func.length(Person.name) > 10).count()

# 24. Get the names and ages of all people in the database, sorted by age in descending order
people = session.query(Person.name, Person.age).order_by(Person.age.desc()).all()

# 25. Get the names of all people in the database whose name is not 'Alice'
people = session.query(Person.name).filter(Person.name != "Alice").all()

2023-04-02 09:34:07,323 INFO sqlalchemy.engine.Engine SELECT people.name AS people_name
FROM people
WHERE people.address LIKE ?
2023-04-02 09:34:07,330 INFO sqlalchemy.engine.Engine [generated in 0.00737s] ('123%',)
2023-04-02 09:34:07,352 INFO sqlalchemy.engine.Engine SELECT people.name AS people_name, people.age AS people_age
FROM people
WHERE people.gender = ? ORDER BY people.age DESC
 LIMIT ? OFFSET ?
2023-04-02 09:34:07,358 INFO sqlalchemy.engine.Engine [generated in 0.00770s] ('male', 1, 0)

NameError: name 'func' is not defined