Collections - List, Tuple, Set, Dictionary

In [1]:
vowels = ["a", "e", "i", "o", "u"]
print(type(vowels), vowels)

<class 'list'> ['a', 'e', 'i', 'o', 'u']

In [2]:
vowels = ("a", "e", "i", "o", "u")
print(type(vowels), vowels)

<class 'tuple'> ('a', 'e', 'i', 'o', 'u')

In [3]:
vowels = {"a", "e", "i", "o", "u"}
print(type(vowels), vowels)

<class 'set'> {'u', 'i', 'o', 'a', 'e'}

In [4]:
vowels = {"a"}
print(type(vowels), vowels)

<class 'set'> {'a'}

In [5]:
vowels = set(["a", "e", "i", "o", "u"])
print(type(vowels), vowels)

<class 'set'> {'u', 'i', 'o', 'a', 'e'}

In [6]:
len(vowels)

5

__NOTE:__ Sets can be indexed

In [7]:
try:
    vowels[2]
except TypeError as ex:
    print(ex)

TypeError: 'set' object does not support indexing

In [8]:
try:
    {12, 34, 3} + {33, 44}
except TypeError as ex:
    print(ex)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

Sets can't store duplicates

In [9]:
money = {1, 1, 10, 12, 0.5, 200, 0.5}
print(money)

{0.5, 1, 200, 10, 12}

    Sets cant have mutable objects. 
    mutable objects  - List, set, dict
    immutable objects - int, float, bool, None, String

In [11]:
{1, 1.12, -0.0000123324234, "BHavya", None, True * 19, (12)}

{-1.23324234e-05, 1, 1.12, 12, 19, 'BHavya', None}

In [12]:
{1, 1.12, -0.0000123324234, "BHavya", None, True * 19, (12,)}

{(12,), -1.23324234e-05, 1, 1.12, 19, 'BHavya', None}

In [13]:
{1, 1.12, -0.0000123324234, "BHavya", None, True * 19, (12,), [11]}

TypeError: unhashable type: 'list'

In [14]:
{1, 1.12, -0.0000123324234, "BHavya", None, True * 19, (12,), set([11, 11])}

TypeError: unhashable type: 'set'

In [15]:
{1, 1.12, -0.0000123324234, "BHavya", None, True * 19, (12,), frozenset([11, 11])}

{(12,), -1.23324234e-05, 1, 1.12, 19, 'BHavya', None, frozenset({11})}

sets are mutable objects

In [16]:
my_set = {11, 22, 11, (11), 7}
print(my_set)

{11, 22, 7}

In [17]:
my_set = {11, 22, 11, (11,), 7}
print(my_set)

{11, (11,), 22, 7}

In [18]:
print(dir(my_set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [26]:
for each_attr in dir(my_set):
    if not each_attr.startswith("__"):
        print(each_attr.startswith("__"), each_attr)

False add
False clear
False copy
False difference
False difference_update
False discard
False intersection
False intersection_update
False isdisjoint
False issubset
False issuperset
False pop
False remove
False symmetric_difference
False symmetric_difference_update
False union
False update

In [27]:
my_set

{(11,), 11, 22, 7}

In [28]:
my_set.pop()

11

In [29]:
my_set

{(11,), 22, 7}

In [30]:
my_set.remove(22)

In [31]:
my_set

{(11,), 7}

In [32]:
my_set.remove(22)

KeyError: 22

In [34]:
my_set.remove(11)

KeyError: 11

In [33]:
my_set

{(11,), 7}

In [35]:
my_set.discard(11)

In [36]:
my_set

{(11,), 7}

In [37]:
my_set.discard((11,))

In [38]:
my_set

{7}

In [39]:
my_set.clear()

In [40]:
my_set

set()

In [41]:
del my_set

In [42]:
my_set

NameError: name 'my_set' is not defined

In [43]:
fruits = {"apple", "carrot", "water melon"}
vegetables = {"carrot", "brinjol"}

In [44]:
fruits.intersection(vegetables)

{'carrot'}

In [45]:
fruits.isdisjoint(vegetables)

False

In [46]:
fruits.discard("carrot")

In [47]:
fruits.isdisjoint(vegetables)

True

In [48]:
fruits.intersection(vegetables)

set()

In [49]:
fruits.union(vegetables)

{'apple', 'brinjol', 'carrot', 'water melon'}

In [50]:
fruits

{'apple', 'water melon'}

In [51]:
fruits.add("carrot")

In [52]:
fruits

{'apple', 'carrot', 'water melon'}

In [54]:
fruits.add(("carrot"))

In [55]:
fruits

{'apple', 'carrot', 'water melon'}

In [56]:
fruits.add(("carrot",))
fruits

{('carrot',), 'apple', 'carrot', 'water melon'}

In [57]:
fruits.update("carrot")
fruits

{('carrot',), 'a', 'apple', 'c', 'carrot', 'o', 'r', 't', 'water melon'}

In [59]:
fruits.update(frozenset({"carrot"}))
fruits

{('carrot',), 'a', 'apple', 'c', 'carrot', 'o', 'r', 't', 'water melon'}

In [60]:
vegetables

{'brinjol', 'carrot'}

In [61]:
vegetables.add("tomato")
vegetables

{'brinjol', 'carrot', 'tomato'}

In [62]:
vegetables.update("tomato")
vegetables

{'a', 'brinjol', 'carrot', 'm', 'o', 't', 'tomato'}

In [63]:
vegetables.update(("tomato",))
vegetables

{'a', 'brinjol', 'carrot', 'm', 'o', 't', 'tomato'}

In [64]:
new_set = {1, 2, 3}
new_set.add(4)
print(new_set)

{1, 2, 3, 4}

In [65]:
new_set.add((5,))
print(new_set)

{1, 2, 3, 4, (5,)}

In [66]:
new_set.update(6)
print(new_set)

TypeError: 'int' object is not iterable

In [67]:
new_set.update((7,))
print(new_set)

{1, 2, 3, 4, 7, (5,)}

### Dictionaries

In [68]:
my_dict = {}
print(type(my_dict), my_dict)

<class 'dict'> {}

In [69]:
empty_set = set()
print(type(empty_set), empty_set)

<class 'set'> set()

In [70]:
other_set = {1, 2, 3, 4}
print(type(other_set), other_set)

<class 'set'> {1, 2, 3, 4}

In [71]:
other_dict = {1: 2, 3: 4}
print(type(other_dict), other_dict)

<class 'dict'> {1: 2, 3: 4}

In [72]:
person_details = {"name": "Aruna", "class": "Python"}
print(type(person_details), person_details)

<class 'dict'> {'name': 'Aruna', 'class': 'Python'}

dictonary keys should be immutables only

In [76]:
my_dict = {
    "name": "temp",
    0: 1,
    12.123123: [123, 234, 4, 32],
    None: {112, 12, 12, 12},
    (12, 12, 12): (111, 1),
}

print(my_dict)

{'name': 'temp', 0: 1, 12.123123: [123, 234, 4, 32], None: {112, 12}, (12, 12, 12): (111, 1)}

In [77]:
from pprint import pprint

In [79]:
pprint(my_dict, indent=2)

{ None: {112, 12},
  0: 1,
  12.123123: [123, 234, 4, 32],
  'name': 'temp',
  (12, 12, 12): (111, 1)}

In [81]:
my_dict[3]

KeyError: 3

Dictionaries are indexed by their keys, but not by their positions

In [82]:
my_dict[None]

{12, 112}

In [83]:
my_dict[12.123123]

[123, 234, 4, 32]

In [84]:
my_dict["name"]

'temp'

In [85]:
my_dict[0]  # here, 0 is the key, not the position

1

In [86]:
my_dict["language"]

KeyError: 'language'

In [87]:
print(my_dict.get("language"))

None

In [88]:
print(my_dict.get("language", None))

None

In [89]:
print(my_dict.get("language", "No such key"))

No such key

In [90]:
my_dict.keys()

dict_keys(['name', 0, 12.123123, None, (12, 12, 12)])

In [91]:
my_dict.values()

dict_values(['temp', 1, [123, 234, 4, 32], {112, 12}, (111, 1)])

In [92]:
my_dict.items()

dict_items([('name', 'temp'), (0, 1), (12.123123, [123, 234, 4, 32]), (None, {112, 12}), ((12, 12, 12), (111, 1))])

In [93]:
my_dict

{'name': 'temp',
 0: 1,
 12.123123: [123, 234, 4, 32],
 None: {12, 112},
 (12, 12, 12): (111, 1)}

In [94]:
for each_ele in my_dict:
    print(each_ele)

name
0
12.123123
None
(12, 12, 12)

In [95]:
for each_ele in my_dict.keys():
    print(each_ele)

name
0
12.123123
None
(12, 12, 12)

In [96]:
for each_ele in my_dict.values():
    print(each_ele)

temp
1
[123, 234, 4, 32]
{112, 12}
(111, 1)

In [97]:
for each_ele in my_dict.items():
    print(each_ele)

('name', 'temp')
(0, 1)
(12.123123, [123, 234, 4, 32])
(None, {112, 12})
((12, 12, 12), (111, 1))

In [98]:
for each_key, each_value in my_dict.items():
    print(each_key, "=====>", each_value)

name =====> temp
0 =====> 1
12.123123 =====> [123, 234, 4, 32]
None =====> {112, 12}
(12, 12, 12) =====> (111, 1)

In [99]:
for each_key, each_value in my_dict.items():
    print(f"{each_key}  =====> {each_value}")

name  =====> temp
0  =====> 1
12.123123  =====> [123, 234, 4, 32]
None  =====> {112, 12}
(12, 12, 12)  =====> (111, 1)

In [102]:
for each_key, each_value in my_dict.items():
    print("{:10}        ====== {:10}".format(str(each_key), str(each_value)))

name              ====== temp
0                 ====== 1
12.123123         ====== [123, 234, 4, 32]
None              ====== {112, 12}
(12, 12, 12)        ====== (111, 1)

In [103]:
my_dict

{'name': 'temp',
 0: 1,
 12.123123: [123, 234, 4, 32],
 None: {12, 112},
 (12, 12, 12): (111, 1)}

In [105]:
print(my_dict.get("something"))

None

In [106]:
print(my_dict.get("something", "no such key"))

no such key

In [107]:
print(my_dict.setdefault("something", "no such key"))

no such key

In [108]:
my_dict

{'name': 'temp',
 0: 1,
 12.123123: [123, 234, 4, 32],
 None: {12, 112},
 (12, 12, 12): (111, 1),
 'something': 'no such key'}